<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">

    <featureManager>
        <feature>javaee-8.0</feature>
    </featureManager>

    <!-- START JMS CONFIGURATION -->

    <!-- Real projects should make it secure -->
    <variable name="ibmmq.username" value="app"/>
    <variable name="ibmmq.password" value="passw0rd"/>

    <resourceAdapter id="wmqjmsra" location="${wlp.install.dir}/../../ibm/wmq.jmsra.rar" />

    <jmsConnectionFactory jndiName="jms/wmqCF" connectionManagerRef="ConMgr6">
        <properties.wmqjmsra
            channel="DEV.APP.SVRCONN"
            hostName="localhost"
            port="1414"
            userName="${ibmmq.username}"
            password="${ibmmq.password}"
            queueManager="QM1"
            transportType="CLIENT"
        />
    </jmsConnectionFactory>

    <connectionManager id="ConMgr6" maxPoolSize="10"/>

    <jmsActivationSpec id="libertymq/SampleListenerMDB">
        <properties.wmqjmsra
            channel="DEV.APP.SVRCONN"
            hostName="localhost"
            port="1414"
            userName="${ibmmq.username}"
            password="${ibmmq.password}"
            queueManager="QM1"
            transportType="CLIENT"
            destinationRef="jms/queue1"
            destinationType="javax.jms.Queue"
        />
	</jmsActivationSpec>

    <jmsQueue id="jms/queue1" jndiName="jms/queue1">
        <properties.wmqjmsra baseQueueName="DEV.QUEUE.1" />
    </jmsQueue>

    <!-- END JMS CONFIGURATION -->


    <basicRegistry id="basic" realm="BasicRealm" />

    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="9080"
                  httpsPort="9443"
                  host="*" />

    <applicationManager autoExpand="true"/>

    <webApplication contextRoot="/libertymq" location="libertymq.war" />

    <ssl id="defaultSSLConfig" trustDefaultCerts="true" />
</server>
